<section style="margin: 50px auto">
  <h4 style="text-align: center;margin: 50px auto">Prihlásenie</h4>
  <div class="form">
  <form class="form" ng-submit="login()" name="loginForm">
    <div class="control-group">
    <label class="control-label" for="inputLogin">Login</label>
    <div class="controls">
    <input type="text" ng-model="user.login" id="inputLogin" required="" placeholder="united" style="width:96%">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputPassword">Heslo</label>
    <div class="controls">
    <input type="password" ng-model="user.password" id="inputPassword" required="" placeholder="******" style="width:96%">
    </div>
    </div>

    <p>
    <button type="submit" class="btn btn-success btn-block btn-huge">Prihlásiť</button>
    </p>
    <p>
    <button class="btn btn-block btn-huge" ng-click="cancel()">Zrušiť</button>
    </p>
  </form>
  </div>
</section>